<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a href="/cases" class="brand-link">
      <!--begin::Brand Image-->
      <img
        src="/assets/img/logo.png"
        alt="DermaValue Logo"
        class="brand-image opacity-75 shadow"
      />
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <span class="brand-text fw-light">DermaValue</span>
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <!--begin::Sidebar Menu-->
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
            href="/cases"
            class="nav-link <%= (originalUrl === '/cases' || originalUrl === '/cases/' ? 'active' : '') %>"
          >
            <i class="nav-icon bi bi-file-earmark-text"></i>
            <p>Cases</p>
          </a>
        </li>
        <li class="nav-item">
          <% const clinicUrl = '/clinics/' + user.clinicId; %>
          <a
            href="/clinics/<%= user.clinicId %>"
            class="nav-link <%= originalUrl === clinicUrl ? 'active' : '' %>"
          >
            <i class="nav-icon bi bi-person-circle"></i>
            <p>My Clinic</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/clinics"
            class="nav-link <%= (originalUrl === '/clinics' || originalUrl === '/clinics/' ? 'active' : '') %>"
          >
            <i class="nav-icon bi bi-hospital"></i>
            <p>Clinics</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/leaderboard"
            class="nav-link <%= (originalUrl === '/leaderboard' || originalUrl === '/leaderboard/' ? 'active' : '') %>"
          >
            <i class="nav-icon bi bi-trophy"></i>
            <p>Leaderboard</p>
          </a>
        </li>
      </ul>
      <!--end::Sidebar Menu-->
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
